table {
  border-collapse: collapse;
}


.button {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  padding: 20px 5px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
 
  
}
.button:hover {
  background-color: chocolate;
}

.button:focus{
  background-color: grey;
}

.button:active {
  background-color: brown;
}

input:focus{
  border-bottom: 10px solid red;
}

a {
  text-decoration: none;
}

a:link {
  color: violet;
}

a:visited {
  color: black;
}