.container {
  width: 800px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  
  

}
.cameraImg {
  float: left;
  background-image: url('./img/camera_img.JPG');
  width: 200px;
  height: 200px;
  

}