body{
  margin: 0;
}



.container{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}
  
.blog-content {
  float: left;
  width: 80%;
  height: 200px;
}

.blog-img {
  float: left;
  width: 80%;
  height: 200px;
}

.content{
  background-image: url('../img/blog_img.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  width: 20%;
  height: 100%;
}

.profile-img {
  width: 100px;
  height: 100%;
  float: left;
}

.blog-name {
  width: 150px;
  float: left;
  /*display: block;*/
}